# Local .terraform directories
**/.terraform/*
.terraform/


*.tfstate
*.tfstate.backup


crash.log


override.tf
override.tf.json
*_override.tf
*_override.tf.json


*.tfvars
*.tfvars.json

*.pem
*.key
*.pub

*.tfplan

.terraform.lock.hcl

.vscode/

.DS_Store

Thumbs.db
